<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
  <div class="row">
  <div class="col-md-6">
	  <h3>Contact</h3>
	  <p>This application (PeARS-OMD) is the local <a href="https://pearsproject.org/">PeARS</a> interface to your <a href="https://onmydisk.net/">On My Disk</a> storage. PeARS-OMD is a local search engine that lets you search content privately on your home machine. It is meant to run on a localhost port.</p>
	  <p>For all questions related to your use of PeARS in relation to On My Disk, please contact <a href="https://www.bineon.team/">the Bineon team</a>. If you have general questions related to PeARS, do visit us on <a href="https://pearsproject.org/">our website</a>!</p>
  </div> <!-- /col -->
  </div> <!-- /row -->
{% endblock %}
