<!--
SPDX-FileCopyrightText: 2024 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container">

  <div class="row">
       <div class="col-md-6">
       <h3>F.A.Q.</h3>
       <p><a href="#intro">PeARS-OMD: introduction</a><br>
       <a href="#firsttime">Configuring your PeARS installation</a><br>
       <a href="#signin">Signing in</a><br>
       <a href="#crawling">Making your On My Disk content searchable</a><br>
       <a href="#multilingual">Searching in several languages</a></p>
       
       <br>
       <p id="firsttime"><b>PeARS-OMD: introduction</b></p>
       <p>This PeARS version is dedicated to the On My Disk (OMD) project. On My Disk is a great solution for all privacy-conscious individuals who want to run their own private cloud. The software is completely plug-and-play, so you don't need to know anything about setting up a cloud. With the addition of PeARS, you can also search through your files as if you were your own search engine. The present Web app is a handy interface for searching your private cloud.</p>

       <br>
       <p id="firsttime"><b>Configuring your PeARS installation</b></p>
       <p>After installing PeARS, you will want to head to the configuration file situated at <i>app/static/conf/pears.ini</i>. The main thing you want to change there is the languages you will use in your installation. You should change the line<br>
       <code>LANGUAGES=...</code><br>
       to show the languages you want to use as a comma-separated list. For instance, if you speak English and Slovenian:<br>
       <code>LANGUAGES=en,sl</code>
       </p>

       <br>
       <p id="firsttime"><b>Signing in</b></p>
       <p>To log in, you should use your On My Disk credentials. If you have lost your username or password, please get them back from your On My Disk account by going to <a href="https://onmydisk.net/">this page</a>.
       </p>

       <br>
       <p id="crawling"><b>Making your On My Disk content searchable</b></p>
       <p>In order to search your content, you first need to 'index' it. This means that PeARS will generate mathematical representations of your documents that will be used at search time, like the big search engines. To do this, head over to your <a href="{{url_for('indexer.index')}}">indexing</a> page. Enter a directory to crawl from. Typically, if you want to index all your files, this will be a url of the type <i>https://demo.onmydisk.net/your-username/</i>.</p>

       <br>
       <p id="multilingual"><b>Searching in several languages</b></p>
       <p>Your PeARS installation contains pretrained models for four different languages: English, French, Russian and Slovenian. We will add more in the future! You don't have to do anything at indexing time. PeARS will automatically recognise the language of your document and use the right model to index it. At search time, the engine will search through all languages by default, but you can restrict this by using a language flag. For instance:<br>
       <code>Paris hotel</code><br>
       would search through all documents that contain those two words. But<br>
       <code>Paris hotel -en</code><br>
       would only return the documents in English, while<br>
       <code>Paris hotel -fr</code><br>
       would only return the documents in French.
       </p>
       <br><br>
       </div>
  </div> <!-- /row -->
</div> <!-- /container full -->
{% endblock %}
