<!--
SPDX-FileCopyrightText: 2023 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-center mt-5">
        {% if session.get('theme') == 'dark' %}
          <a href="{{ url_for('search.anonymous')}}"><img width=350px; src="{{url_for('serve_logos', path='logo-dark.png')}}"></a>
        {% else %}
          <a href="{{ url_for('search.anonymous')}}"><img width=350px; src="{{url_for('serve_logos', path='logo.png')}}"></a>
        {% endif %}
      <form  action="{{url_for('search.anonymous')}}">
        <div class="input-group group mt-4" >
          <input class="form-control" title="Enter your Search Query." placeholder="Enter your Search Query" type="search" name='q' required>
          <input class="form-control" title="Is this the GUI calling?" type="hidden" name='gui' value='true' required>
          <button class="btn btn-lg btn-success" type="submit">Search</button>
        </div>
      </form>
      <br>Hey there! You don't seem to be logged in. Please <a href="{{ url_for('auth.login') }}">sign in</a>.
    </div>
  </div> 

{% endblock %}
